.DS_Store
.idea
.ipynb_checkpoints
/Figure_1/.ipynb_checkpoints/
/Figure_3/.ipynb_checkpoints/
/Figure_5/.ipynb_checkpoints/
/Reproducibility_Task_Py_Enviorment/
/.jupyter/desktop-workspaces/default-37a8.jupyterlab-workspace
/.jupyter/desktop-settings.json
