.DS_Store
!/.ipynb_checkpoints
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/Reproducibility_Task.iml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea
.idea
.idea/
.ipynb_checkpoints/